* {
	border: 0;
	padding: 0;
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.center {
	text-align: center;
}

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	background: #48DCC8;
	color: #fff;
	cursor: pointer;
	float: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	clear: both;
}