.slider {
	position: relative;
	width: 800px;
	height: 100px;

	.line {
		width: 100%;
		height: 5px;
		position: absolute;
		top: 50%;
		background: rgba(230,230,230,1);
		background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(36,29,29,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(36,29,29,1)));
		background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(36,29,29,1) 100%);
		background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(36,29,29,1) 100%);
		background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(36,29,29,1) 100%);
		background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(36,29,29,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#241d1d', GradientType=1 );
	}

	.item {
		background: url("../images/happy.png") no-repeat;
		width: 100px;
		height: 100px;
		display: inline-block;
		position: absolute;

		&.left {
			left: 0;
		}

		&.middle {
			top: 0;
			left: 350px;
			z-index: 999;
		}

		&.right {
			right: 0;
		}

		&.left, &.right {
			top: 0;
			// opacity: .4;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}
}