.timer {
	.progress {
		display: inline-block;
		background: #282828;
		box-shadow: 0 1px 1px #444, 0 1px 1px #2A2A2A inset;
		border-radius: 3px;
		height: 20px;
		width: 300px;
		position: relative;

		.timer-text {
			color: #fff;
			position: absolute;
			left: 50%;
			top: 2px;
		}

		.progress-bar {
			width: 1%;
			height: 100%;
			border-radius: 2px;
			position: absolute;
			text-align: center;

			&.green {
				background: linear-gradient(to bottom, #7fd658, #6ab84e);
			}

			&.yellow {
				background: linear-gradient(to bottom, #eca558, #e28131);
			}

			&.red {
				background: linear-gradient(to bottom, #ec795d, #DC340C);
			}
		}
	}
}