* {
  border: 0;
  padding: 0;
  margin: 0; }

.pointer {
  cursor: pointer; }

.center {
  text-align: center; }

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: #48DCC8;
  color: #fff;
  cursor: pointer;
  float: right; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

.timer .progress {
  display: inline-block;
  background: #282828;
  box-shadow: 0 1px 1px #444, 0 1px 1px #2A2A2A inset;
  border-radius: 3px;
  height: 20px;
  width: 300px;
  position: relative; }
  .timer .progress .timer-text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 2px; }
  .timer .progress .progress-bar {
    width: 1%;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    text-align: center; }
    .timer .progress .progress-bar.green {
      background: linear-gradient(to bottom, #7fd658, #6ab84e); }
    .timer .progress .progress-bar.yellow {
      background: linear-gradient(to bottom, #eca558, #e28131); }
    .timer .progress .progress-bar.red {
      background: linear-gradient(to bottom, #ec795d, #DC340C); }

.slider {
  position: relative;
  width: 800px;
  height: 100px; }
  .slider .line {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
    background: #e6e6e6;
    background: -moz-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #e6e6e6), color-stop(100%, #241d1d));
    background: -webkit-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
    background: -o-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
    background: -ms-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
    background: linear-gradient(to right, #e6e6e6 0%, #241d1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#241d1d', GradientType=1 ); }
  .slider .item {
    background: url("../images/happy.png") no-repeat;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute; }
    .slider .item.left {
      left: 0; }
    .slider .item.middle {
      top: 0;
      left: 350px;
      z-index: 999; }
    .slider .item.right {
      right: 0; }
    .slider .item.left, .slider .item.right {
      top: 0;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%); }

.happiness-view {
  width: 800px;
  margin: 0 auto; }
  .happiness-view .header {
    text-align: center;
    height: 500px; }
  .happiness-view .content {
    margin-top: 100px;
    height: 400px; }
  .happiness-view .timer {
    text-align: center; }
  .happiness-view .slider {
    margin-top: 50px; }
  .happiness-view .answers-container {
    margin-top: 10px; }
    .happiness-view .answers-container h3 {
      width: 130px;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
