/* line 1, ../../scss/pages/happiness.scss */
.happiness-view {
  width: 800px;
  margin: 0 auto;
}
/* line 5, ../../scss/pages/happiness.scss */
.happiness-view .header {
  text-align: center;
  height: 500px;
}
/* line 10, ../../scss/pages/happiness.scss */
.happiness-view .content {
  margin-top: 100px;
  height: 400px;
}
/* line 15, ../../scss/pages/happiness.scss */
.happiness-view .timer {
  text-align: center;
}
/* line 19, ../../scss/pages/happiness.scss */
.happiness-view .slider {
  margin-top: 50px;
}
/* line 23, ../../scss/pages/happiness.scss */
.happiness-view .answers-container {
  margin-top: 10px;
}
/* line 26, ../../scss/pages/happiness.scss */
.happiness-view .answers-container h3 {
  width: 130px;
  text-align: center;
}
