<div class="happiness-view" ng-cloak>

	<!-- Header -->
	<div class="header" ng-if="!currentState.template">
		<h1>Exercise 2: Happiness</h1>
		<h3>First we want to understand what makes you happy</h3>

		<img src="./images/dashboard.png">
	</div>
	<!-- End of Header -->

	<div ng-if="currentState.template" ng-include="currentState.template" class="content"></div>

	<span class="btn" ng-if="currentState.next" ng-click="next()">Next</span>
</div>