<div>
	<div efl-timer timeout="onTimeout" time="time"></div>
	<h1 class="center">What brings you the most happiness ?</h1>

	<!-- Answers Container -->
	<div class="answers-container">
		<div class="pull-left">
			<h3>Your hometown</h3>
			<img src="./images/hometown.png">
		</div>

		<div class="pull-right">
			<h3>Your country</h3>
			<img src="./images/country.png">
		</div>

		<br class="clearfix">
	</div>
	<!-- End of Answers Container -->

	<div efl-slider data="data"></div>
</div>