.happiness-view {
	width: 800px;
	margin: 0 auto;

	.header {
		text-align: center;
		height: 500px;
	}

	.content {
		margin-top: 100px;
		height: 400px;
	}

	.timer {
		text-align: center;
	}

	.slider {
		margin-top: 50px;
	}

	.answers-container {
		margin-top: 10px;

		h3 {
			width: 130px;
			text-align: center;
		}
	}
}