/* line 1, ../../scss/general/general.scss */
* {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 7, ../../scss/general/general.scss */
.pointer {
  cursor: pointer;
}

/* line 11, ../../scss/general/general.scss */
.center {
  text-align: center;
}

/* line 15, ../../scss/general/general.scss */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: #48DCC8;
  color: #fff;
  cursor: pointer;
  float: right;
}

/* line 24, ../../scss/general/general.scss */
.pull-left {
  float: left;
}

/* line 28, ../../scss/general/general.scss */
.pull-right {
  float: right;
}

/* line 32, ../../scss/general/general.scss */
.clearfix {
  clear: both;
}
