/* line 1, ../../scss/general/slider.scss */
.slider {
  position: relative;
  width: 800px;
  height: 100px;
}
/* line 6, ../../scss/general/slider.scss */
.slider .line {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 50%;
  background: #e6e6e6;
  background: -moz-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e6e6e6), color-stop(100%, #241d1d));
  background: -webkit-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
  background: -o-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
  background: -ms-linear-gradient(left, #e6e6e6 0%, #241d1d 100%);
  background: linear-gradient(to right, #e6e6e6 0%, #241d1d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#241d1d', GradientType=1 );
}
/* line 21, ../../scss/general/slider.scss */
.slider .item {
  background: url("../images/happy.png") no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
}
/* line 28, ../../scss/general/slider.scss */
.slider .item.left {
  left: 0;
}
/* line 32, ../../scss/general/slider.scss */
.slider .item.middle {
  top: 0;
  left: 350px;
  z-index: 999;
}
/* line 38, ../../scss/general/slider.scss */
.slider .item.right {
  right: 0;
}
/* line 42, ../../scss/general/slider.scss */
.slider .item.left, .slider .item.right {
  top: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
