/* line 2, ../../scss/general/timer.scss */
.timer .progress {
  display: inline-block;
  background: #282828;
  box-shadow: 0 1px 1px #444, 0 1px 1px #2A2A2A inset;
  border-radius: 3px;
  height: 20px;
  width: 300px;
  position: relative;
}
/* line 11, ../../scss/general/timer.scss */
.timer .progress .timer-text {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 2px;
}
/* line 18, ../../scss/general/timer.scss */
.timer .progress .progress-bar {
  width: 1%;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  text-align: center;
}
/* line 25, ../../scss/general/timer.scss */
.timer .progress .progress-bar.green {
  background: linear-gradient(to bottom, #7fd658, #6ab84e);
}
/* line 29, ../../scss/general/timer.scss */
.timer .progress .progress-bar.yellow {
  background: linear-gradient(to bottom, #eca558, #e28131);
}
/* line 33, ../../scss/general/timer.scss */
.timer .progress .progress-bar.red {
  background: linear-gradient(to bottom, #ec795d, #DC340C);
}
